@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 10 10;
  --foreground: 255 255 255;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.container {
  max-width: 1100px;
}