# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/
.next/

# Android
.gradle/
build/
local.properties
.cxx/
*.apk
*.aar

# Next.js
.next/
out/
build/

# Skills packages
*.skill
